DB_HOST=db
DB_NAME=indianscience
DB_USER=db
DB_PASS=db

SITE_URL=https://indianscience-php.ddev.site
APP_ENV=development

SMTP_HOST=mail.indianscience.net
SMTP_PORT=465
SMTP_USERNAME=info@indianscience.net
SMTP_PASSWORD="no-reply@webhost@123"
SMTP_ENCRYPTION=ssl

SMTP_FROM=info@indianscience.net
FEEDBACK_EMAIL=info@indianscience.net